/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Quicksand');

#auto-type-text  {
    color:#F7DE3A;
    font-family: Quicksand, sans-serif;
    font-size: xxx-large;
    text-align:center;
    display: inline;  /* Important! */
}

.typed-cursor {
    color: #080808;
    font-family: Quicksand, sans-serif;
    font-size: xxx-large;
}

